header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7158e2;
    border-bottom: 10px solid #4b4b4b;;
    padding: 10px 20px;
}


#logo { 
    text-shadow: 5px 5px 0px #4b4b4b;
    color: #f1f1f1;
    font-family: "Press Start 2P", sans-serif;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #f1f1f1;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    vertical-align: middle;
    transition: transform 150ms linear;
}

a::before{
    content: "";
    background-color: #F7D002;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
.links:hover{
    transform: scale(1.2);
}


#button{
    display: inline-block;
    background-color: #F7D002 ;
    padding: 18px 18px;
    box-shadow: 5px 5px 0 #4b4b4b;
    margin-right: 0;
    transition: transform 150ms linear;
}

#button:hover{
    transform: scale(1.08);
    background-color: #ffea83;
    color: #cacaca;
}


