.main-section{
    background-color: #F7D002;
    height: 730px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7158e2;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdFirst{
    border-color: #F7D002;
}

.main-section.-bdSecond{
    border-color: #000;
}

.main-section.-bgPurple{
    background-color: #7158e2;
}