.main-progress-bar{
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
    box-sizing: border-box;
}

.main-progress-bar::-webkit-progress-bar,
.main-progress-bar::-moz-progress-bar{
    background-color: #7158e2;
}