.main-button{
    display: inline-block;
    background-color: #F7D002 ;
    padding: 18px 18px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: transform 150ms linear;
    font-size: 20px;
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;

}

.main-button:hover{
    transform: scale(1.08);
    background-color: #ffea83;
    color: #cacaca;
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.02);
}