.node-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before{
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0;
    width: 40px;
    border: 2.5px dashed #000;
    transform: rotate(90deg) translateX(-50%);
    margin-bottom: 140px;

}

.node-card .title {
    font-family: "Press Start 2P", sans-serif;
    color: #F7D002;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 50px;
}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    background-color: #F00;
    padding-left: 20px;
    padding-right: 20px;
}

.node-card.-clean .logo{
    padding: 0px;
    border: none;

}

.node-card.-first .logo{
    background-color: #FFF;
}

.node-card .logo.-cea{
    background: #fff;
    border: 5px solid #000;
}

.node-card .logo.-brn0 {
    display: flex;
    justify-content: center;
    background-color: #7158e2;
    border: 5px solid #000;

}

.node-card .logo.-brn0 img {
    height: 140px;
    width: 140px;
}
