.skill-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.skill-wrapper .skill-tech{
    width: 430px;
    margin-bottom: 40px;
}

.skill-wrapper .skill-tech:nth-child(odd){
    margin-right: 100px;
}
.skill-wrapper .progress-bar{
    width: 320px;
}

@media(max-width: 961px){
    .skill-wrapper {
        display: flex; /* Ativa o layout flexbox */
        flex-wrap: wrap; /* Permite que os itens quebrem em linhas */
        align-items: center;
        justify-content: center;

      }
   
    .right {
        flex: 0; /* Ocupa o restante do espaço disponível na linha */
    }

    .skill-wrapper {
        width: 860px;
        margin-left: 140px;

    }
      
    .skill-wrapper .skill-tech:nth-child(odd){
        margin-right: 0px;
    }
    
    .skill-wrapper .skill-tech{
        width: 40%;
        margin-bottom: 15px;
    }
      
}